<h1><%=title%></h1>
<div class="row mb-2">
    <div class="col-6 col-md-4">
        <form class="input-group" name="frm">
            <input class="form-control" name = "query" value="" placeholder="검색어">
            <button class="btn btn-info">검색</button>
        </form>
    </div>
    <div class="col pt-2">
        <span id="total"></span>
    </div>
    <div class="col text-end mb-3" id="div-write" style="display: none;">
        <a href="/posts/insert"><button class="btn btn-info">글쓰기</button></a>
    </div>
</div>



<div id="div_posts" class="row"></div>

<div class="text-center my-3">
    <button class="btn btn-info" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button class="btn btn-info" id="next">다음</button>
</div>

<script id="temp_posts" type="x-handlebars-template">
    <table class="table table-info table-hover">
        <colgroup>
            <col width="10%"/>
            <col width="10%"/>
            <col width="45%"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <tr>
            <td>번호</td><td>제목</td><td>내용</td><td>작성자</td><td>작성일</td>
        </tr>
        {{#each documents}}
            <tr>
                <td class="table-light">{{pid}}</td>
                <td class="table-light"><div class="ellipsis4"><a href="/posts/read?pid={{pid}}">{{title}}</a></div></td>
                <td class="table-light"><div class="ellipsis4">{{contents}}</div></td>
                <td class="table-light">{{writer}}</td>
                <td class="table-light">{{fdate}}</td>
            </tr>
        {{/each}}
    </table>

</script>

<script>
    let query = $(frm.query).val();
    let page=1;
    const size = 10;

    //다음 버튼을 클릭한 경우
    $("#next").on("click", function() {
        page++;
        getData();
    });

    //이전 버튼을 클릭한 경우
    $("#prev").on("click", function() {
        page--;
        getData();
    });

    getData();
    if(uid){
        $("#div-write").show();
    }
    else{
        $("#div-write").hide();
    }

    $(frm).on("submit", function(e){ //frm이 서밋될때 e에 들어가있음
        e.preventDefault();
        query=$(frm.query).val();
            page=1;
            getData();
    });

    function getData() {
        $.ajax({
            type : "get",
            url : "/posts/list.json",
            dataType : "json",
            data : {query: query, page : page, size}, //query : 검색어
            success : function(data) {
                console.log(data);
                const temp = Handlebars.compile($("#temp_posts").html());
                $("#div_posts").html(temp(data));
                $("#total").html(`<b>${data.total}<b>건`);
                const last = Math.ceil(data.total/size);
                $("#page").html(`<b>${page} / ${last}</b>`);
                if(page==1) {
                    $("#prev").attr("disabled", true); //속성 변화 : attr, disabled : 불가능
                }
                else {
                    $("#prev").attr("disabled", false);
                }

                if(page==last) {
                    $("#next").attr("disabled", true);
                }
                else{
                    $("#next").attr("disabled", false);
                }

            }
        });
    }
</script>