body {
  background : gray;
}
#divPage {
  width: 980px; background: white;
  box-shadow: 10px 10px 10px black;
  margin: auto;
}

#divTop {
  padding: 30px 0px 0px 0px;
  text-align: center;
}

#divCenter {
  border: 1px solid green;
  margin: 0px 10px 20px 0px;
  padding: 10px;
  border-bottom: 1px solid green;
}

#divMenu {
  overflow: hidden;
  background: #EAEAEA;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  border-bottom: 1px solid green;
}

#divMenu .item {
  width: 80px; float: left;
}

#divContent {
  width: 980px; height: 500px;
}

#divBottom {
  padding: 0px 0px 10px 0px;
  text-align: center;
}

#divHeader {
  width: 980px;
  text-align: center;
}

a {
  color: green;
  text-decoration: none;
}

