<h1><%=title%></h1>
<div class="row mb-2">
    <div class="col-6 col-md-4">
        <form class="input-group" name="frm">
            <input class="form-control" name="query" value="아이유" placeholder="검색어">
            <button class="btn btn-info">검색</button>
        </form>
    </div>
</div>
<div id="div_img" class="row"></div>
<div class="text-center my-3">
    <button class="btn btn-info" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button class="btn btn-info" id="next">다음</button>
</div>
<!-- 이미지 템플릿-->
<script id="temp_img" type="X-handlebars-template">
    {{#each documents}}
        <div class = "col-lg-2 col-md-4 col-6 mb-2">
            <div>{{collection}}</div>
        </div>
    {{/each}}
</script>

<script>
    getData();
    function getData(){
        $.ajax({
            type : "get",
            url : "https://dapi.kakao.com/v2/search/image",
            dataType : "json",
            data:{query: '아이유', page:1, size:5},
            headers : {"Authorization" : "KakaoAK 9a5fa7c035339e405f49a5347ceb488f"}, //headers : 인증키
            success : function(data) {
                //alert("성공");
                console.log(data);
                const temp=Handlebars.compile($("#temp_img").html());
                $("#div_img").html(temp(data));
            }
        });
    }
</script>